body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Baskervville', serif;;
}

span {
    text-decoration: underline;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
}

h2 {
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #39311d;
    font-family: 'Nerko One', cursive;
}

}
 h3 {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 300;
    color: #39311d;
    font-family: 'Nerko One', cursive;
}

 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

 hr {
    border-bottom: none;
    border-top: 10px dotted #555555;
    margin: 0px auto;
    width: 5%;
}

 a{
    color:#11999E;
    font-family: 'Montserrat',sans-serif;
    font-size: x-large;
    margin: 10px 20px ;
    text-decoration: none;
 }

 a:hover{
     color: #EAF6F6;
 }
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.borderToProfile {
    height: 10px;
    background: linear-gradient(#cfd3ce, #f6f5f1);
    margin: 0px 10px -10px 10px;
}

.middleContainer {
    background-color: #f6f5f1;
    margin: 0px 10px;
    padding-bottom: 20px;
    position: relative;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
   
}

.profile {
    background-color: white;
    border: solid 25px;
    border-radius: 20px;
    border-color: #cfd3ce;
    /* height: 400px; */
    padding: 5px;
    position: relative;
    margin: 10px auto 100px auto;
    text-align: center;
    top: 50px;
    width: 30%;
    /* transform: rotate(-90deg); */
}

.skills {
    /* padding-top: 50px; */
    position: relative;
}
.skillRow {
    background-color: white;
    border: solid 25px;
    border-color: #cfd3ce;
    border-radius: 20px;
    padding: 10px;
    margin: 50px auto 50px;
    width: 50%;
    text-align: left;
}

.mePic {
    margin: 10px auto 20px auto;
    transform: rotate(90deg);
    width: 20%;
}

.hey2 {
    display: inline-block;
    position: relative;
    margin: 1px;
}

.contactMe {
    margin: 40px auto;
    position: relative;
}

.copyright{
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 250px;
}


.skill-pic{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.crossfitpic{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #FFC93C;
    background-image: -webkit-linear-gradient(top, #FFC93C, #D0931E);
    background-image: -moz-linear-gradient(top, #FFC93C, #D0931E);
    background-image: -ms-linear-gradient(top, #FFC93C, #D0931E);
    background-image: -o-linear-gradient(top, #FFC93C, #D0931E);
    background-image: -webkit-gradient(to bottom, #FFC93C, #D0931E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 90px;
    font-size: 20px;
    font-weight: 50;
    padding: 10px -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    margin: 10 auto;
}